<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color: ivory; background-color: navy;border-color: dimgrey; border-radius: 1000%; "><i>Bikash Mart</i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user/login']">Sale</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user/register']">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['user/logout']">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" [routerLink]="['/addProduct']">Add</a>
                    <a class="dropdown-item" [routerLink]="['/displayProduct']">Display</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<hr>
<hr>

<footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">
  
      
      <div class="row">
  
       
        <div class="col-md-6 mb-4">
  
        
          <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
              
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
         
  
        </div>
  
        
        <div class="col-md-6 mb-4">
  
          <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
            </div>
          </form>
  
        </div>
        
  
      </div>
      
    </div>
  
   
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://google.com/"> BKMecommerce.com</a>
    </div>
  
  </footer>
  
  <hr>
  <hr>